@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, Component {
  overflow: hidden; 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

* {  
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

.fresh-gradient {
  background-color: rgb(121, 147, 130);
  background-image: linear-gradient(to right bottom, 
                                  rgb(121, 147, 130), 
                                  rgb(173, 159, 138), 
                                  rgb(130, 121, 147)),
                    linear-gradient(to left bottom, 
                                  rgb(130, 121, 147), 
                                  rgb(173, 159, 138), 
                                  rgb(121, 147, 130));
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center;
}

.my--overflow-hidden{
  overflow: hidden;
}

.my--overflow-scrol{
  overflow: scrol;
}

.temp{
  border: solid 2px red;
}

.temp-1{
  border: solid 2px rgb(0, 255, 0);
}


  

